/* HEADER/SEARCHBAR */

.tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-header__events-bar{
  width: 30%;
}

#tribe-events-view-selector-content{
  display: none !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-header__events-bar{
  margin: 0 !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input{
  height: 20px !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input-group{
  position: relative !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__button {
  visibility: hidden !important;
  position: absolute !important;
  display: inline-flex !important;
  flex-direction: row !important;
  align-items: center !important;
  right: 10px;
  /* background: transparent !important;
  content: none !important;
  border: none !important; */
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__button::after {
  content: "" !important;
  display: block !important;
  width: 14px !important;
  height: 14px !important;
  background-image: url("search.png");
  background-size: cover !important;
  background-position: center !important;
  visibility: visible !important;
  /* background: transparent !important;
  content: none !important;
  border: none !important; */
}

/* LIST */

.tribe-events-calendar-list__month-separator{
  display: none !important;
}

.tribe-events-calendar-list__event-date-tag{
  display: none !important;
}

.tribe-events-calendar-list__event-details{
  width: 100% !important;
  flex-direction: row !important;
  font-family: "Work Sans", sans-serif !important;
  font-size: 15px !important;
}

.tribe-common.tribe-events .tribe-events-calendar-list__event-description {
  display: none !important;
}

.tribe-events-calendar-list div{
  margin: 3px !important;
}

.tribe-events-calendar-list__event-row:nth-of-type(2n+3){
  background-color: var(--main-lightblue) !important;
}

.tribe-events-calendar-list__event-venue-address{
  display: none !important;
}

h3.tribe-events-calendar-list__event-title{
  font-family: "Work Sans", sans-serif !important;
  font-size: 15px !important;
  color: black !important;
  text-decoration: underline !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

.tribe-events-calendar-list__event-header{
  display: grid !important;
  grid: 1fr / 330px 1fr 1fr;
  gap: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  width: 100% !important;
  text-align: left !important;
}

.tribe-events-calendar-list__event-wrapper{
  padding: 0 !important;
}

.tribe-common-g-row--gutters > .tribe-common-g-col{
  display: flex !important;
  /* flex-direction: row !important; */
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0 !important;
}

.tribe-events-calendar-list__event-header div, .tribe-events-calendar-list__event-header h3, .tribe-events-calendar-list__event-header address{
  margin: 0 !important;
}

.tribe-events-calendar-list__event-cost{
  margin: 0 !important;
}

.tribe-events-calendar-list-nav{
  display: none !important;
}

.tribe-events .tribe-events-c-ical{
  display: none !important;
}

/* LATEST PAST EVENTS */

.tribe-events-calendar-latest-past__event-header{
  display: grid !important;
  grid: 1fr / 330px 1fr 1fr;
  gap: 20px !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  width: 100% !important;
  text-align: left !important;
}

.tribe-events-calendar-latest-past__event-description p{
  display: none !important;
}

a.tribe-events-calendar-latest-past__event-title-link{
  font-family: "Work Sans", sans-serif !important;
  font-size: 15px !important;
  color: black !important;
  text-decoration: underline !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

.tribe-events-calendar-latset-past__event-details{
  width: 100% !important;
  flex-direction: row !important;
  font-family: "Work Sans", sans-serif !important;
  font-size: 15px !important;
}

.tribe-events-calendar-latest-past__event-date-tag{
  display: none !important;
}

article.tribe-events-calendar-latest-past__event{
  display: flex !important;
  /* flex-direction: row !important; */
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0 !important;
}

.tribe-events-calendar-latest-past__month-separator{
  display: none !important;
}

.tribe-events-calendar-latest-past__event-date-tag{
  display: none !important;
}

.tribe-events-calendar-latest-past__event-details{
  width: 100% !important;
  flex-direction: row !important;
  font-family: "Work Sans", sans-serif !important;
  font-size: 15px !important;
  padding: 0 !important;
}

.tribe-common.tribe-events .tribe-events-calendar-latest-past__event-description {
  display: none !important;
}

.tribe-events-calendar-latest-past div{
  margin: 3px !important;
}

.tribe-events-calendar-latest-past__event-row:nth-of-type(2n+3){
  background-color: var(--main-lightblue) !important;
}

.tribe-events-calendar-latest-past__event-venue-address{
  display: none !important;
}

.tribe-events-calendar-latest-past__event-wrapper{
  padding: 0 !important;
}

.tribe-common-g-row--gutters > .tribe-common-g-col{
  display: flex !important;
  /* flex-direction: row !important; */
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0 !important;
}

.tribe-events-calendar-latest-past__event-header div, .tribe-events-calendar-latest-past__event-header h3, .tribe-events-calendar-list__event-header address{
  margin: 0 !important;
}

.tribe-events-calendar-latest-past__event-cost{
  margin: 0 !important;
}

.tribe-events-calendar-latest-past__event-venue{
  margin: 0 !important;
}

.tribe-events-calendar-latest-past-nav{
  display: none !important;
}

.tribe-events .tribe-events-c-ical{
  display: none !important;
}

h2.tribe-events-calendar-latest-past__heading{
  font-size: 20px;
}